dd {
  margin-left: 10em;
}

dt {
  float: left;
  width: 9em;
}

/* @media (max-width: 40em) { */
/*   dd { */
/*     margin-left: 1em; */
/*     margin-bottom: 1em; */
/*   } */

/*   dt { */
/*     float: none; */
/*     width: auto; */
/*   } */
/* } */
