@import url('dictionaries.css');
@import url('preamble.css');
@import url('headings.css');
@import url('bibliography.css');

body {
  font-family: sans-serif;
  font-size: small;
}

@page {
    size: Letter;
    margin: 0.8in 0.8in 0.8in 0.8in;
}

@media not print {
  body {
    max-width: 40em;
    width: 63%;
    margin: 0 auto;
  }
}
