.title {
  font-size: xx-large;
}

body {  /* default is gray, eww */
  background-color: #ffffff;
}

h1 {
  margin: 0.2em;
  margin-top: 1em;
  font-size: x-large;
}

h2 {
  margin: 0.2em;
  margin-top: 1em;
  font-size: large;
}

h1::after {
    content: " ";
    display: block;
    border: 1px solid black;
}

h2::after {
    content: " ";
    display: block;
    border: 1px dotted gray;
}

p {
  margin: 0.3em;
  line-height: 1.2em;
  text-indent: -2em;
  padding-left: 2em;
  page-break-inside: avoid;
}

.summary p{
  text-indent: 0;
  padding-left: 0;
}

dt {
  width: 8em;
}

dd {
  margin-top: 0.3em;
  margin-left: 10em;
  margin-bottom: 0.3em;
}
