.preamble {
  text-align: left;
}

.preamble ul {
  list-style-type: none;
  padding: 0;
}

@media print, screen and (min-width: 40em) {
  .preamble {
    text-align: center;
  }

  .preamble li {
    display: inline;
  }

  .preamble li:not(:last-child)::after {
    content: "|";
    padding: 0 0.5em;
  }
}
